h1{
    text-align: center;
}
.posts{
display: flex;
justify-content: center;
align-items: baseline;
flex-wrap: wrap;
}
.post{
    text-align: center;
    padding-right: 3vw;

}
.post img{
    width: 16vw;
    
    
}